
<ul>
  <% @buildings.each do |building| %>
    <li><%= "#{building.address} #{building.city}, #{building.state}, #{building.postal_code} - #{building.description} #{building.owner.full_name}"%></li>
  <% end %>
</ul>
